body {
    font-size: 1.1rem;
}

@media screen and (orientation: landscape) {
    .headimage {
    height: 100vh;
    min-height: 500px;
    background-image: url('../media/portada2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (orientation: portrait) {
    .headimage {
    height: 100vh;
    min-height: 500px;
    background-image: url('../media/portadavertical.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.scrolled {
background-color: rgb(99, 48, 119) !important;
transition: background-color 200ms linear;
color: white !important;
}

.navbar-expand-lg li a{
    background-color: transparent;
    transition: background-color 200ms linear;
    color: white !important;
}
#navbarfixed {
background-color: rgb(99, 48, 119) !important;
color: white !important;
}
.titol {
    color: rgb(255, 255, 255);
}

.navbarLogo {
    width: 40px;
    height: 40px;
} 

.footer {
    background-color: rgb(99, 48, 119) !important;
    padding-left: 0;
    padding-right: 0;
}
.fab {
    color:white;
    font-size: 4rem;
    padding-right: 1rem;
}
#logomcecc {
    width: 20rem;
    height: auto;
    padding-right: 1rem;
}
#logosubirats {
    width: 14rem;
    height: auto;
}
.copyright {
background-color: rgba(0, 0, 0, 0.2)
}
.fotoindex {
    height: 17rem;
    width: 17rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.titolindex {
    color: black;
    text-decoration-color: black;
}
a{
    color: black;
}

hr {
    height: 10px !important;
    width: 50%;
    color: rgb(99, 48, 119);
    margin-top: 0;
}
@media screen and (max-width: 769px) {
    #logo {
    height: 15rem;
    width: auto;
    }
    iframe {
        width: 100%;
        height: auto;
    }
}
@media screen and (min-width: 770px) {
    #logo {
    width: 100%;
    height: auto;
    }
    .justificat {
        text-align: justify;
        text-justify: inter-word;
    }
    iframe {
        width: 700px;
        height: 394px;
    }
}

.fotosjuntes {
    width: 100%;
    height: auto;
}

.fotosencera {
    width: 75%;
    height: auto;
}

.btnlila {
    background-color: rgb(99, 48, 119);
    color: white;
    width: 10rem;
}

#divtable {
    width: 100%;
}

.form-check-input:checked {
    background-color:rgb(99, 48, 119);
    border-color: rgb(99, 48, 119);
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(157, 83, 189, 0.301);
}